.accordion {
  width: 100%;
  height: 250px;
  overflow: hidden;
  margin: 50px auto;
}
.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
.accordion ul li {
  display: table-cell;
  vertical-align: bottom;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}
.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  vertical-align: bottom;
  padding: 15px 20px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  transition: all 200ms ease;
}
.accordion ul li div a * {
  opacity: 0;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.accordion ul li div a h2 {
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}
.accordion ul li div a p {
  top: 160px;
  font-size: 13.5px;
}
.accordion ul:hover li { width: 8%; }
.accordion ul:hover li:hover a { 
  background: rgba(0, 0, 0, 0.4); 
  opacity:0.9;
  color:#fff !important;
}
.accordion ul:hover li:hover a * {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* TOMB OF SARGERAS */
.accordion-tos ul:hover li:hover { width: 40%; }

.accordion-tos ul li:nth-child(1) { background-image: url("../media/ToS/goroth.jpg"); }
.accordion-tos ul li:nth-child(2) { background-image: url("../media/ToS/demon.jpg"); }
.accordion-tos ul li:nth-child(3) { background-image: url("../media/ToS/harjatan.jpg"); }
.accordion-tos ul li:nth-child(4) { background-image: url("../media/ToS/mistress.jpg"); }
.accordion-tos ul li:nth-child(5) { background-image: url("../media/ToS/sisters.jpg"); }
.accordion-tos ul li:nth-child(6) { background-image: url("../media/ToS/host.jpg"); }
.accordion-tos ul li:nth-child(7) { background-image: url("../media/ToS/maiden.jpg"); }
.accordion-tos ul li:nth-child(8) { background-image: url("../media/ToS/avatar.jpg"); }
.accordion-tos ul li:nth-child(9) { background-image: url("../media/ToS/kj.jpg"); }

/* NIGHTHOLD */
.accordion-nh ul:hover li:hover { width: 40%; }

.accordion-nh ul li:nth-child(1) { background-image: url("../media/NH/skorpyron.png"); }
.accordion-nh ul li:nth-child(2) { background-image: url("../media/NH/anamoly.png"); }
.accordion-nh ul li:nth-child(3) { background-image: url("../media/nh/trilliax.png"); }
.accordion-nh ul li:nth-child(4) { background-image: url("../media/nh/aluriel.png"); }
.accordion-nh ul li:nth-child(5) { background-image: url("../media/nh/krosus.png"); }
.accordion-nh ul li:nth-child(6) { background-image: url("../media/nh/telarn.png"); }
.accordion-nh ul li:nth-child(7) { background-image: url("../media/nh/tichondrius.png"); }
.accordion-nh ul li:nth-child(8) { background-image: url("../media/nh/etraeus.png"); }
.accordion-nh ul li:nth-child(9) { background-image: url("../media/nh/elisandre.png"); }
.accordion-nh ul li:nth-child(10) { background-image: url("../media/nh/guldan.png"); }

/* TRIAL OF VALOR */
.accordion-tov ul:hover li:hover { width: 15%; }

.accordion-tov ul li:nth-child(1) { background-image: url("../media/tov/odynresize.jpg"); }
.accordion-tov ul li:nth-child(2) { background-image: url("../media/tov/guarmresize.jpg"); }
.accordion-tov ul li:nth-child(3) { background-image: url("../media/tov/heljyaresize.jpg"); }

/* EMERALD NIGHTMARE */
.accordion-en ul:hover li:hover { width: 25%; }
.accordion-en { margin-bottom: 0 !important; }

.accordion-en ul li:nth-child(1) { background-image: url("../media/en/nythresize.jpg"); }
.accordion-en ul li:nth-child(2) { background-image: url("../media/en/ursocresize.jpg"); }
.accordion-en ul li:nth-child(3) { background-image: url("../media/en/spiderresize.jpg"); }
.accordion-en ul li:nth-child(4) { background-image: url("../media/en/dragonsresize.jpg"); }
.accordion-en ul li:nth-child(5) { background-image: url("../media/en/eyeresize.jpg"); }
.accordion-en ul li:nth-child(6) { background-image: url("../media/en/cenariusresize.jpg"); }
.accordion-en ul li:nth-child(7) { background-image: url("../media/en/xaviusresize.jpg"); }

/* THIS MUST BE LAST */
@media screen and (max-width: 600px) {
  .accordion { height: auto; }
  .accordion ul li,
  .accordion ul li:hover,
  .accordion ul:hover li,
  .accordion ul:hover li:hover {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    -webkit-transition: none;
    transition: none;
  }
}