/* =============================================================================
  RESETS
============================================================================= */

html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* =============================================================================
  HTML, BODY
============================================================================= */

html,
body {
  height: 100%;
}

body {
  font-family: "Oxygen", sans-serif;
}
.nav a{
	color:white !important;
}
.nav a:hover{
	opacity:0.6 !important;
}
a:hover{
  color: #23527c !important;
}
.navbar-collapse{
  border:none !important;
  box-shadow:none !important;
  -webkit-box-shadow:none !important;
}

/* =============================================================================
  CONTENT
============================================================================= */

.content {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.content__heading {
  margin-bottom: 24px;
  color: rgb(39,39,39);
  font-size: 44px;
}

.content__teaser {
  margin-bottom: 24px;
  color: rgb(89,89,89);
  font-size: 22px;
}

.content__cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: rgb(255,60,100);
  font-size: 22px;
  text-decoration: none;
  border: solid 4px rgb(255,60,100);
}

.parallax { 
  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 2;
}

.parallax-bg1{
  /* The image used */
  background-image: url("media/ulduar.jpg");
  height:500px;
}

.parallax-bg2{
  height:500px;
}


/* =============================================================================
  VIDEO
============================================================================= */

.video {
  position: fixed !important;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.overlay{
	opacity: 0.4 !important;
	position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 3;
  background: url("vegas/overlays/02.png") center center;
}

/* =============================================================================
  NAV
============================================================================= */

.nav{
	z-index: 4;
}

/* =============================================================================
  HOME INFO
============================================================================= */
.home-info{
	position: absolute;
  overflow: hidden;
  font-family: "Raleway";
  text-transform: uppercase;
  line-height: 2.2em;
  width: 100%;
  z-index: 4;
  bottom: 0;
}

/* =============================================================================
  ALL SECTIONS EXCEPT LANDING
============================================================================= */

.section-recruitment, .section-streams, .section-about, .section-contact {
	padding:5%;
	padding-top:10%;
	z-index: 2;
	min-height: 100vh;
	width:100%;
	position: relative;
}

.section-title-container{
	text-align: center;
	padding-bottom:5%;
}
@media only screen and (max-width : 480px) {
  .section-title-container
  {
    padding-top:10%;
  }
}
.section-title, .section-subtitle{
	color:white;
	text-align: center;
	text-transform: uppercase;
}


/* =============================================================================
  SECTION-LANDING
============================================================================= */

.section-landing{
	min-height: 100vh;
}
.home-info h1, .home-info h3{
	color:white;
	line-height: 1;
	padding: 0;
	margin:0;
}
.home-info{
	padding-bottom:1%;
}
/* =============================================================================
  SECTION-PROGRESS
============================================================================= */

.section-progress{
	background-color:#e74c3c;
	color:white;
  padding-top:10%;
  z-index: 2;
  min-height: 100vh;
  width:100%;
  position: relative;
}
.section-progress h1 {
  padding-top: 3%;
}
.wowprog, .warclogs{
  color:white;
  text-decoration: none !important;
}
.img-gallery{
  display: flex;
  padding-top:2%;
}
.image-boss{
  display: inline-block;
  height:35vh;
  width:14.1%;
  background-size:cover;
  flex: 1 100%;
  align-items: center;
  justify-content: center;
}
.image-en-boss{
  width:14.1%;
}
.image-tov-boss{
  width:33.1%;
}
.overlay-skull{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.6);
  flex-wrap: wrap;
}
.overlay-skull > img {
  opacity: 0.6;
}
.overlay-skull > small{
  text-align: center;
  flex-basis: 100%;
}

/* =============================================================================
  SECTION-RECRUITMENT
============================================================================= */

.section-recruitment{
	background-color: #27ae60;;
}

/* =============================================================================
  SECTION-STREAMS
============================================================================= */

.section-streams{
	background-color: #2980b9;;
}
.images{
	text-align: center;
}
.section-streams img{
	display: inline-block;
	max-width:100%;
	max-height:100%;
}
.section-streams img:hover{
	cursor: pointer;
	opacity: 0.8;
}
.stream-smaktat{
	content:url('smaktat.png');
}
.stream-amish{
	content:url('amish.png');
}

/* =============================================================================
  SECTION-ABOUT
============================================================================= */

.section-about{
	background-color: #e67e22;;
}
.section-about-content{
	color:white;
}

/* =============================================================================
  SECTION-CONTACT
============================================================================= */

.section-contact{
	background-color: #8e44ad;;
}
.section-contact p {
	color:white;
	text-align:center;
}